<div class="container">
    <div class="buttonUp">
        <ion-button (click)="ferFoto()">
            Camera
        </ion-button>
    </div>
    <div class="slidesImg">
        <ion-slides scrollbar="false" [options]="slideOpts" class="slide">
            <!--<button >fes foto</button>-->
            <ion-slide *ngFor="let slide of imgs">
                <!--<img class="imgSlide" [src]="slide.img" (click)="changeImg(slide.img)">-->

            </ion-slide>
        </ion-slides>
    </div>
</div>
