.container {
  height: 100vh;
  //background: url(https://images6.alphacoders.com/329/329913.jpg);
  background-size: contain;
  touch-action: pan-y;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
